<div> 
  <div class="ClassicInput">
    <div class="input-container" [style.width]="width">
      <input 
        type="text" 
        [id]="idTextField" 
        [style.height]="height" 
        [placeholder]="placeholder" 
        [disabled]="disabled"
        [readonly]="readOnly"
        [value]="value"
        [ngClass]="classInput"
        (input)="onChange($event.target)" 
        autocomplete="off" />
      <label [htmlFor]="idTextField"  class="label">{{label}}</label>
    </div>
    
    <div  [style.width]="width" >
      <div *ngIf="hasError" class="message-error"  >
        {{msgError}}
      </div>
    </div>
  </div>  
</div>
